# レイアウトを整える
<h1>Top</h1>
<p>これはインデックスページです。</p>
<div class="mt-4">
  <%= link_to 'くだもの屋さんへ行く', new_order_path, class: 'btn btn-primary btn-lg' %>
</div>





<%= link_to '履歴を見る', order_histories_path %>

<% if @latest_order.present? %>
  <%= link_to '最新の注文詳細を見る', order_path(@latest_order), class: 'btn btn-outline-success ms-2' %>
<% end %>