<div class='container mt-3 mb-5'>
  <h1 class='text-center mb-5'>注文完了</h1>

  <div class='text-center mb-5'>
    <p>
    <%= @order.name %>様
    <br>
    ご注文ありがとうございました。
    <br>
    商品の発送まで今しばらくお待ちください。
    </p>
  </div>
</div>

<!-- ホームに戻るボタン -->
<div class="text-center">
<%= link_to 'ホームへ戻る', root_path, class: 'btn btn-success mt-4' %>
</div>
</div>
</div>